/* Css reset can be found here: https://www.joshwcomeau.com/css/custom-css-reset/*/

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* Project CSS */
.roboto-text {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
  display: grid;
  height: 100vh;
  grid-template-rows: auto auto 1fr;
}

#dialog {
  background-color: rgb(255, 73, 73);
  justify-self: center;
  align-self: center;
  color: white;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 700;
  border: rgb(255, 255, 255) 2px solid;
  padding: 30px;
  width: 500px;
  margin-bottom: 20px;
}

dialog > form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

dialog > form > * {
  display: flex;
  flex-direction: column;
  padding: 0px 30px 0 30px;
}

input[type="text"] {
  background-color: rgb(255, 73, 73);
  color: white;
  border: none;
  border: 1px solid white;
  padding-left: 6px;
  font-weight: 400;
  border-radius: 5px;
}

input[type="submit"] {
  border: none;
  background-color: rgb(255, 73, 73);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  color: white;
  margin: 0 29px 0 29px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: white;
  color: black;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 80%);
}

.usernames {
  display: flex;
  justify-content: center;
  padding: 20px 0 20px 0;
  gap: 350px;
}

.usernames > p {
  justify-self: end;
}

.container {
  display: grid;
  justify-self: center;
  border: 1px solid rgb(251, 251, 251);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 400px;
  height: 400px;
}

.tiles {
  background-color: rgb(254, 127, 127);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 1px solid rgb(251, 251, 251);
  font-size: 2.4rem;
}

.usernames {
  font-size: 2rem;
}

.scores {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

.bottom {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 15px;
}

.bottom > * {
  margin-bottom: 120px;
  background-color: rgb(255, 73, 73);
  color: white;
  font-size: 1.3rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 130px;
  height: 40px;
}

.bottom > *:hover {
  border: solid 1px rgb(255, 73, 73);
  background-color: rgb(255, 255, 255);
  color: rgb(255, 73, 73);
}
